---
title: "Biotechnology is complex"
layout: splash
permalink: /
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/jordan-masse-688057-unsplash-small.jpg
  #cta_label: "Download"
  #cta_url: "https://github.com/mmistakes/minimal-mistakes/"
  caption: "Photo credit: [**Jordan Masse @ Unsplash**](https://unsplash.com)"
excerpt: "Your work needs to be done right the first time."
intro: 
  - excerpt: 'Consulting, scientific writing, and business planning and strategy for advanced projects in the life sciences sponsored by industrial, academic, and not for profit clients.'
feature_row:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    alt: "placeholder image 1"
    title: "Academic"
    excerpt: "Principal Investigators, postdocs, or students depend on high caliber writing and grantsmanship for progression of their careers."
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "Not-for-profit & Government"
    excerpt: "Large research projects and teams need to get the science right, but increasingly need to convey the business sense behind their initiatives."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Industrial"
    excerpt: "Great science alone doesn't make a profitable product. Small and medium biotechs need to have the right business model to create value for customers."
feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
services: 
  - excerpt: "**OUR SERVICES**\n*We want to help create the most valuable part of your business*"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

#{% include feature_row id="feature_row2" type="left" %}

#{% include feature_row id="feature_row3" type="right" %}

#{% include feature_row id="feature_row4" type="center" %}

{% include feature_row id="services" type="center" %}
